<h1>Display Your Pirate here</h1>
Name: <%= @pirate.name%></br>
Weight: <%= @pirate.weight%></br>
Height: <%= @pirate.height%></br>

<h2>Ship details!</h2>
<% @ships.each do |ship|%>
  Name: <%= ship.name %>
  Type: <%= ship.type %>
  Booty: <%= ship.booty%>
  <div><p></p></div>
<%end%>
