<h1>Display your Pirate here</h1>

    <div class="pirate">
        <p>Pirate Name: <%= @pirates.name %></p>
        <p>Pirate Weight: <%= @pirates.weight %></p>
        <p>Pirate Height: <%= @pirates.height %></p>
    </div>

<h2>Display your first ship here</h2>
<ul>
<% @ships.each do |ship| %>
  <div class="ship">
    <li>Ship Name: <%= ship.name %></li>
    <li>Ship Type: <%= ship.type %></li>
    <li>Ship Booty: <%= ship.booty %></li>
<% end %>
  
</ul>


    