<h1>This ere man is <%= @pirate.name %>!</h1>
<p>Coming in at <%= @pirate.weight %>kg and <%= @pirate.height %>cm.</p>

<h2>He sails in a brand new <%= @ships[0].name %></h2>
<p><%= @ships[0].type + " " + @ships[0].booty %></p>

<h3>But sometimes he can be seen steering his old <%= @ships[1].name %></h3>
<p><%= @ships[1].type + " " + @ships[1].booty %></p>
