<h1>Display your Pirate here</h1>
  <p>Pirate's Name: <%= @pirate.name %></p>
  <p>Pirate's Weight: <%= @pirate.weight %> kg</p>
  <p>Pirate's Height: <%= @pirate.height %> cm</p
<br>
<h1>YOUR FIRST SHIP</h1>
<p>Ship's Name: <%= Ship.all.first.name %></p>
<p>Ship's Type: <%= Ship.all.first.type %></p>
<p>Ship's Booty: <%= Ship.all.first.booty %></p
<br>
<h2>YOUR SECOND SHIP</h2>
<p>Ship's Name: <%= Ship.all.last.name %></p>
<p>Ship's Type: <%= Ship.all.last.type %></p>
<p>Ship's Booty: <%= Ship.all.last.booty %></p
